---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
import { Image } from 'astro:assets';

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from "../js/utils"
import landingImage from "../assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import smartphoneIcon from "../assets/icons/smartphone.svg";
import speedIcon from "../assets/icons/speed.svg";
import responsiveIcon from "../assets/icons/responsive-page.svg";

import SBSImageWWYFront from "../assets/images/sbs-work-with-you.avif";
import SBSImageWWYBack from "../assets/images/sbs-work-with-you-two.avif";
import SBSImageFront from "../assets/images/sbs-r-image1.avif";
import SBSImageBack from "../assets/images/sbs-image2.avif";

const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
	title="Pixel Perfect Websites"
	description="Meta description for the page"
	preloadedImage = {optimizedImage}
>
	<!-- ============================================ -->
	<!--                    Hero                      -->
	<!-- ============================================ -->

	<section id="hero">
		<div class="cs-container">
			<div class="cs-flex-group">
				<h1 class="cs-title">Small Business Web Designer</h1>
				<p class="cs-text">
					No page builders or WordPress. We offer 100% hand-coded websites with superior results starting at $0 down and $200/mo as well as a Lump Sum payment option of $3500 down and $25/mo for hosting.
				</p>
				<a href="/about" class="cs-button-solid">Explore More</a>
				<a href="/contact" class="cs-button-transparent">
					<img
						class="cs-img"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
						alt="play icon"
						width="17"
						height="17"
					/>
					Get in Touch
				</a>
			</div>
		</div>

		<!-- Background Image -->
		<picture class="cs-picture">
			<source media="(max-width: 600px)" srcset= {optimizedImage.src} />
			<source media="(min-width: 601px)" srcset= {optimizedImage.src} />
			<img
				aria-hidden="true"
				decoding="async"
				src={optimizedImage.src}
				alt="new home"
				width="2500"
				height="1667"
				loading="eager"
			/>
		</picture>
	</section>

	<!-- ============================================ -->
	<!--                  Services                    -->
	<!-- ============================================ -->

	<section id="services" class="services">
		<!-- Get Icons From flaticon.com -->
		<div class="card">
			<picture>
				<Image src={smartphoneIcon} alt="icon"/>
			</picture>
			<h2>Mobile First Design</h2>
			<p>
				We start building your site for mobile devices first making sure the code is as lean and optimized with no bloated waste and makes the site even more responsive.
			</p>
		</div>
		<div class="card">
			<picture>
				<Image src={responsiveIcon} alt="icon" />	
			</picture>
			<h2>Fully Responsive</h2>
			<p>
				Your website will fit all mobile screens sizes, tablets, and desktop sizes so visitors can access your site from anywhere and see a beautiful site no matter the screen size.			
			</p>
		</div>
		<div class="card">
			<picture>
				<Image src={speedIcon} alt="icon" />	
			</picture>
			<h2>Optimized Page Speed</h2>
			<p>
				If your site takes more than 3 seconds to load you can lose up to 50% your traffic because it took too long. Our sites load 1 second or less ensuring everyone that visits your site reaches it.
			</p>
		</div>
	</section>

	<!-- ============================================ -->
	<!--                 Side By Side                 -->
	<!-- ============================================ -->

	<section id="sbs">
		<div class="cs-container">
			<!-- Left Image Section -->
			<div class="cs-left">
				<picture class="cs-picture cs-picture1">
					<Image src={SBSImageWWYBack} alt="we work with you" />
				</picture>
				<picture class="cs-picture cs-picture2">
					<Image src={SBSImageWWYFront} alt="we work with you" />
				</picture>
			</div>
			<!-- Right Content Section-->
			<div class="cs-right">
				<span class="cs-topper">About Us</span>
				<h2 class="cs-title">About Digita</h2>
				<p class="cs-text">
					At Digita Web Designs, we specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance and make Google happy, which helps bring in more customers to your site and bring more revenue to your business. 
				</p>
				<p class="cs-text">
					We also manage the edits for you and will never leave you high and dry. Our goal is to create long term relationships with our clients and see them grow over time.
				</p>	
				<a href="/about" class="cs-button-solid">More About Us</a>
			</div>
		</div>
	</section>

	<!-- ============================================ -->
	<!--            Extra Content To Rank             -->
	<!-- ============================================ -->

	<section id="sbs-r">
		<div class="cs-container">
			<!-- Left Image Section -->
			<div class="cs-left">
				<picture class="cs-picture cs-picture1">
					<Image src={SBSImageBack} alt="web dev" />
				</picture>
				<picture class="cs-picture cs-picture2">
					<Image src={SBSImageFront} alt="webdev" />
				</picture>
			</div>
			<!-- Right Content Section-->
			<div class="cs-right">
				<span class="cs-topper">SEO Ranking</span>
				<h2 class="cs-title">Never Worry About Your Website or Search Rankings, Ever again</h2>
				<p class="cs-text">
					While free website builders may seem convenient, they often lead to cookie-cutter designs that lack originality and fail to stand out in a competitive market. Not only do these templates restrict customization, but they also provide limited SEO optimization, which can severely impact your online visibility and Google rankings.
				</p>
				<p class="cs-text">
					Google PageSpeed scores are a key factor to consider for SEO, with website load times being one of the most critical elements affecting those scores. Few websites achieve the high PageSpeed ratings that we consistently deliver for every site we build. Test your website’s load times using Google PageSpeed Insights to see how your current site is performing.
				</p>
			</div>
		</div>
	</section>

	<!-- ============================================ -->
	<!--                   Reviews                    -->
	<!-- ============================================ -->

	<section id="reviews">
		<div class="cs-container">
			<span class="cs-topper">Our Reviews</span>
			<h2 class="cs-title">Words From Our Customers</h2>
			<p class="cs-text">
				We have helped small business owners all over the US and Canada get the website they have been wanting for years. We are invested in our clients just as much as they are in our work. When you work with Oak Harbor Web Designs, you aren’t just working with an agency, you’re working with a dedicated partner.
			</p>
			<ul class="cs-card-group">
				<!-- Review 1 -->
				<li class="cs-item">
					<p class="cs-item-p">
						James, Karl and their team have been awesome to work with. The value they provide for the cost is unbeatable. Digita is talented and responsive. I highly recommend them for your website needs!
					</p>
					<span class="cs-reviewer">
						Michael R.
						<span class="cs-desc">Los Angeles, CA</span>
					</span>
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
						alt="stars"
						width="96"
						height="16"
					/>
				</li>
				<!-- Review 2 -->
				<li class="cs-item">	
					<p class="cs-item-p">
						I approached James and Karl with a very specific vision for our new website, and they knocked it out of the park. I was looking for a clean, original design and a faster site. They absolutely delivered.
					</p>
					<span class="cs-reviewer">
						Steven B.
						<span class="cs-desc">Miami, FL</span>
					</span>
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
						alt="stars"
						width="96"
						height="16"
					/>
				</li>
			</ul>
		</div>
	</section>

	<CTA />
</BaseLayout>

<style>

@media only screen and (min-width: 0em) {
	#hero {
		font-family: "Roboto", "Arial", sans-serif;
		text-align: center;
		padding: 0 1rem;
		padding-bottom: 6.25rem;
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
	#hero .cs-picture {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
	}
	#hero .cs-picture:before {
		content: "";
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.7;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
	}
	#hero .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
	#hero .cs-container {
		width: 100%;
		max-width: 80em;
		margin: auto;
		padding: clamp(9em,25.95vw,17.5em) 0;
		position: relative;
	}
	#hero .cs-container:before {
		content: "";
		width: 1px;
		height: 100%;
		opacity: 1;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	#hero .cs-flex-group {
		width: 80vw;
		max-width: clamp(29em,60vw,35.125em);
		margin: auto;
		margin-bottom: clamp(3.75em,15.5vw,13.75em);
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	#hero .cs-topper {
		text-align: center;
		margin-bottom: 1rem;
		color: var(--primary);
	}
	#hero .cs-title {
		text-align: center;
		width: 100%;
		color: var(--bodyTextColorWhite);
	}
	#hero .cs-text {
		text-align: center;
		margin: 0 auto clamp(2rem,4vw,2.5rem) 0;
		margin-bottom: clamp(2.5rem,4vw,3rem);
		color: var(--bodyTextColorWhite);
	}
	#hero .cs-button-solid {
		line-height: clamp(2.875em,5.5vw,3.5em);
		height: initial;
		margin-bottom: calc(1rem);
	}
	#hero .cs-button-transparent {
		font-size: 1rem;
		font-weight: 700;
		line-height: clamp(2.875em,5.5vw,3.5em);
		text-decoration: none;
		width: 11.25rem;
		height: clamp(2.875em,5.5vw,3.5em);
		margin: 0 0.5rem;
		box-sizing: border-box;
		padding: 0;
		color: #fff;
		background-color: transparent;
		border: 1px solid var(--bodyTextColorWhite);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	#hero .cs-button-transparent:before {
		content: "";
		background: #000;
		opacity: 1;
		display: block;
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		z-index: -1;
		transform: scaleX(0);
		transition: transform 0.3s;
		transform-origin: left;
	}
	#hero .cs-button-transparent:hover:before {
		transform: scaleX(1);
	}
	#hero .cs-button-transparent .cs-img {
		margin-right: 0.75rem;
		display: block;
	}
}
@media only screen and (min-width: 48em) {
	#hero {
		padding: 0 clamp(2em,5vw,2.5em);
	}
	#hero .cs-container {
		padding: clamp(7em,27.95vw,17.5em) 0 clamp(9em,30.95vw,23.5em) 0;
	}
	#hero .cs-container:after {
		content: "";
		width: 1px;
		height: 100%;
		opacity: 1;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
	#hero .cs-button-solid {
		margin-right: 1.25rem;
		margin-bottom: 0;
	}
}
@media only screen and (min-width: 81.25em) {
	#hero {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}
@media only screen and (min-width: 0em) {
	body.dark-mode #hero .cs-background:before {
		opacity: 0.8;
	}
}
@media only screen and (min-width: 0em) {
	.services {
		width: 90%;
		max-width: 82.5em;
		margin: auto;
		margin-top: -10.4375em;
		margin-bottom: 3.125em;
		padding: 3.125em 1.25em;
		background: #fff;
		box-shadow: 0px 20px 40px rgba(0,0,0,0.05);
		border-top: 0.375em solid var(--primary);
		border-radius: 0.3125em;
		position: relative;
		z-index: 100;
	}
	.services .card {
		width: 100%;
		max-width: 22.3125em;
		margin: auto;
		margin-bottom: 3.125em;
		display: block;
	}
	.services .card:last-of-type {
		margin-bottom: 0;
	}
	.services .card picture {
		width: 5.5em;
		height: 5.5em;
		margin: auto;
		margin-bottom: 1.4375em;
		background: var(--primary);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.services .card picture img {
		width: 3em;
		height: 3em;
	}
	.services .card h2 {
		font-size: 2em;
		font-weight: 700;
		line-height: 1.35em;
		text-align: center;
		margin-bottom: 0.65em;
		color: #1a1a1a;
	}
	.services .card p {
		line-height: 1.3333333333333em;
		text-align: center;
		width: 100%;
		opacity: 0.7;
	}
}
@media only screen and (min-width: 768px) {
	.services {
		font-size: min(1.8vw, 1em);
		width: 98%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.services .card {
		max-width: 20.3125em;
		margin: 0;
	}
}
@media only screen and (min-width: 1300px) {
	.services {
		padding: 3.125em 5em;
	}
	.services .card {
		max-width: 22.3125em;
	}
}
@media only screen and (min-width: 0em) {
	body.dark-mode #services {
		background: var(--medium);
	}
	body.dark-mode #services picture {
		background: var(--primaryDark);
	}
	body.dark-mode #services h2 {
		font-weight: bold;
		color: #fff;
	}
}
@media only screen and (min-width: 0em) {
	#sbs {
		padding: var(--sectionPadding);
	}
	#sbs .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 2.5rem;
	}
	#sbs .cs-left {
		font-size: min(2.31vw, .7em);
		width: 39.4375em;
		height: 39.75em;
		position: relative;
	}
	#sbs .cs-picture {
		border-radius: 1.5em;
		display: block;
		position: absolute;
		overflow: hidden;
	}
	#sbs .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
	#sbs .cs-picture1 {
		width: 32.625em;
		height: 36.3125em;
		top: 0;
		left: 0;
	}
	#sbs .cs-picture2 {
		width: 25.875em;
		height: 25em;
		background-color: #fff;
		box-shadow: rgba(0,0,0,0.1) 0px 0px 40px;
		border: clamp(0.375em,1.5vw,0.75em) solid #fff;
		right: 0;
		bottom: 0;
	}
	#sbs .cs-right {
		max-width: 33.875rem;
		margin: auto;
	}
	#sbs .cs-topper {
		text-align: left;
		margin-bottom: 0.25rem;
	}
	#sbs .cs-title {
		text-align: left;
		max-width: 50rem;
	}
	#sbs .cs-text {
		text-align: left;
		max-width: 46.875rem;
		margin-bottom: 1rem;
	}
	#sbs .cs-text:last-of-type {
		margin-bottom: 2rem;
	}
	#sbs .cs-flex-group {
		padding: clamp(1rem,3vw,2rem);
		background-color: #f7f7f7;
		border-radius: 1rem;
		position: relative;
	}
	#sbs .cs-flex-p {
		font-size: clamp(0.875rem,1.5vw,1rem);
		line-height: 1.5em;
		margin: 0 0 1rem;
		color: #353535;
	}
	#sbs .cs-name {
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.2em;
		text-transform: uppercase;
		margin: 0 0 0.25rem;
		color: var(--headerColor);
		display: block;
	}
	#sbs .cs-job {
		font-size: 0.875rem;
		line-height: 1.5em;
		color: #353535;
		display: block;
	}
	#sbs .cs-quote-icon {
		width: clamp(3.75rem,10vw,8.5rem);
		height: auto;
		position: absolute;
		right: clamp(1rem,4vw,2rem);
		bottom: 0rem;
	}
	#sbs .cs-button-solid {
		margin-top: 2rem;
	}
}
@media only screen and (min-width: 64em) {
	#sbs .cs-container {
		flex-flow: row;
		justify-content: space-between;
		gap: 3.25rem;
	}
	#sbs .cs-left {
		font-size: min(1.2vw, 1em);
		flex: none;
	}
	#sbs .cs-right {
		margin: 0;
	}
}
@media only screen and (min-width: 0em) {
	body.dark-mode #sbs .cs-left:before, body.dark-mode #sbs .cs-left:after {
		background: var(--accent);
	}
	body.dark-mode #sbs .cs-picture2 {
		background-color: var(--dark);
		border: clamp(0.375em,1.5vw,0.75em) solid var(--dark);
	}
	body.dark-mode #sbs .cs-topper {
		color: var(--primaryLight);
	}
	body.dark-mode #sbs .cs-title, body.dark-mode #sbs .cs-text, body.dark-mode #sbs .cs-h3, body.dark-mode #sbs .cs-flex-p, body.dark-mode #sbs .cs-name {
		color: var(--bodyTextColorWhite);
	}
	body.dark-mode #sbs .cs-flex-group {
		background-color: var(--accent);
	}
	body.dark-mode #sbs .cs-job {
		color: var(--bodyTextColorWhite);
		opacity: 0.8;
	}
	body.dark-mode #sbs .cs-quote-icon {
		opacity: 0.2;
	}
}
@media only screen and (min-width: 0em) {
	#sbs-r {
		padding: var(--sectionPadding);
	}
	#sbs-r .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 2.5rem;
	}
	#sbs-r .cs-left {
		font-size: min(2.31vw, .7em);
		width: 39.4375em;
		height: 39.75em;
		position: relative;
	}
	#sbs-r .cs-picture {
		border-radius: 1.5em;
		display: block;
		position: absolute;
		overflow: hidden;
	}
	#sbs-r .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
	#sbs-r .cs-picture1 {
		width: 32.625em;
		height: 36.3125em;
		top: 0;
		right: 0;
	}
	#sbs-r .cs-picture2 {
		width: 25.875em;
		height: 25em;
		background-color: #fff;
		box-shadow: rgba(0,0,0,0.1) 0px 0px 40px;
		border: clamp(0.375em,1.5vw,0.75em) solid #fff;
		bottom: 0;
		left: 0;
	}
	#sbs-r .cs-right {
		max-width: 33.875rem;
		margin: auto;
	}
	#sbs-r .cs-topper {
		text-align: left;
		margin-bottom: 0.25rem;
	}
	#sbs-r .cs-title {
		text-align: left;
		max-width: 50rem;
	}
	#sbs-r .cs-text {
		text-align: left;
		max-width: 46.875rem;
		margin-bottom: 1rem;
	}
	#sbs-r .cs-text:last-of-type {
		margin-bottom: 2rem;
	}
	#sbs-r .cs-flex-group {
		padding: clamp(1rem,3vw,2rem);
		background-color: #f7f7f7;
		border-radius: 1rem;
		position: relative;
	}
	#sbs-r .cs-flex-p {
		font-size: clamp(0.875rem,1.5vw,1rem);
		line-height: 1.5em;
		margin: 0 0 1rem;
		color: #353535;
	}
	#sbs-r .cs-name {
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.2em;
		text-transform: uppercase;
		margin: 0 0 0.25rem;
		color: var(--headerColor);
		display: block;
	}
	#sbs-r .cs-job {
		font-size: 0.875rem;
		line-height: 1.5em;
		color: #353535;
		display: block;
	}
	#sbs-r .cs-quote-icon {
		width: clamp(3.75rem,10vw,8.5rem);
		height: auto;
		position: absolute;
		right: clamp(1rem,4vw,2rem);
		bottom: 0rem;
	}
}
@media only screen and (min-width: 64em) {
	#sbs-r .cs-container {
		flex-flow: row;
		justify-content: space-between;
		gap: 3.25rem;
	}
	#sbs-r .cs-left {
		font-size: min(1.2vw, 1em);
		order: 2;
		flex: none;
	}
	#sbs-r .cs-right {
		margin: 0;
	}
}
@media only screen and (min-width: 0em) {
	body.dark-mode #sbs-r .cs-left:before, body.dark-mode #sbs-r .cs-left:after {
		background: var(--accent);
	}
	body.dark-mode #sbs-r .cs-picture2 {
		background-color: var(--dark);
		border: clamp(0.375em,1.5vw,0.75em) solid var(--dark);
	}
	body.dark-mode #sbs-r .cs-topper {
		color: var(--primaryLight);
	}
	body.dark-mode #sbs-r .cs-title, body.dark-mode #sbs-r .cs-text, body.dark-mode #sbs-r .cs-h3, body.dark-mode #sbs-r .cs-flex-p, body.dark-mode #sbs-r .cs-name {
		color: var(--bodyTextColorWhite);
	}
	body.dark-mode #sbs-r .cs-flex-group {
		background-color: var(--accent);
	}
	body.dark-mode #sbs-r .cs-job {
		color: var(--bodyTextColorWhite);
		opacity: 0.8;
	}
	body.dark-mode #sbs-r .cs-quote-icon {
		opacity: 0.2;
	}
}
@media only screen and (min-width: 0em) {
	#gallery {
		text-align: center;
		padding: var(--sectionPadding);
		position: relative;
		overflow: hidden;
	}
	#gallery .cs-container {
		width: 100%;
		max-width: 82.625em;
		margin: auto;
	}
	#gallery .cs-topper {
		text-align: center;
		margin-bottom: 1rem;
	}
	#gallery .cs-title {
		text-align: center;
		max-width: 38.8125rem;
		margin-bottom: 2.5rem;
	}
	#gallery .cs-image-group {
		font-size: min(1.1vw, 1em);
		width: 100%;
		max-width: 82.625em;
		margin: 0 auto(3.75rem);
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 1.875em;
	}
	#gallery .cs-row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 1.875em;
	}
	#gallery .cs-picture {
		display: block;
		position: relative;
	}
	#gallery .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
	#gallery .cs-row-1 .cs-picture1 {
		width: 26.25em;
		height: 35.4375em;
	}
	#gallery .cs-row-1 .cs-picture2 {
		width: 26.25em;
		height: 39.3125em;
	}
	#gallery .cs-row-1 .cs-picture3 {
		width: 26.25em;
		height: 32em;
	}
	#gallery .cs-row-2 .cs-picture1 {
		width: 26.25em;
		height: 30.75em;
	}
	#gallery .cs-row-2 .cs-picture2 {
		width: 26.25em;
		height: 32.3125em;
	}
	#gallery .cs-row-2 .cs-picture3 {
		width: 26.25em;
		height: 39.3125em;
	}
	#gallery .cs-row-3 .cs-picture1 {
		width: 26.25em;
		height: 39.0625em;
	}
	#gallery .cs-row-3 .cs-picture2 {
		width: 26.25em;
		height: 28.25em;
	}
	#gallery .cs-row-3 .cs-picture3 {
		width: 26.25em;
		height: 39.3125em;
	}
}
@media only screen and (min-width: 0em) {
	body.dark-mode #gallery .cs-title {
		color: var(--bodyTextColorWhite);
	}
}
@media only screen and (min-width: 0em) {
	#reviews {
		text-align: center;
		padding: var(--sectionPadding);
	}
	#reviews .cs-container {
		width: 100%;
		max-width: 69rem;
		margin: auto;
	}
	#reviews .cs-topper {
		text-align: center;
		margin-bottom: 1rem;
	}
	#reviews .cs-title {
		text-align: center;
		max-width: 43.75rem;
	}
	#reviews .cs-text {
		text-align: center;
		max-width: 40.625rem;
		margin-bottom: clamp(5.5em,10.2vw,6.5em);
	}
	#reviews .cs-card-group {
		margin: 0 auto clamp(3rem,5vw,4rem);
		padding: 0;
	}
	#reviews .cs-item {
		text-align: left;
		list-style: none;
		width: 100%;
		max-width: 33.875rem;
		margin: 0 auto(4rem);
		box-sizing: border-box;
		padding: 3.75rem clamp(1rem,3.2vw,2rem) 0;
		padding-bottom: clamp(2rem,5.4vw,2.5rem);
		background: #fff;
		box-shadow: 0px 20px 39px 0px rgba(0,0,0,0.05);
		border-radius: 0.25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
	}
	#reviews .cs-item:last-of-type {
		margin-bottom: 0;
	}
	#reviews .cs-item-img {
		width: 5rem;
		height: 5rem;
		position: absolute;
		top: -2.5rem;
	}
	#reviews .cs-item-p {
		font-size: 1rem;
		line-height: 1.5em;
		margin: 0 0 1.25rem;
		padding-bottom: 1.25rem;
		color: var(--bodyTextColor);
		border-bottom: 1px solid #e8e9ec;
	}
	#reviews .cs-reviewer {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.5em;
		width: 40%;
		margin: 0 auto 0 0;
		color: var(--headerColor);
		display: block;
	}
	#reviews .cs-desc {
		font-size: 0.875rem;
		font-weight: 400;
		color: var(#353535);
		display: block;
	}
	#reviews .cs-item-stars {
		width: 6rem;
		height: 1rem;
	}
}
@media only screen and (min-width: 48em) {
	#reviews .cs-card-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
	#reviews .cs-item {
		margin: 0;
	}
}
@media only screen and (min-width: 0em) {
	body.dark-mode #reviews .cs-title, body.dark-mode #reviews .cs-text, body.dark-mode #reviews .cs-item-p, body.dark-mode #reviews .cs-reviewer {
		color: var(--bodyTextColorWhite);
	}
	body.dark-mode #reviews .cs-item {
		background: var(--medium);
	}
	body.dark-mode #reviews .cs-desc {
		color: var(--primaryLight);
	}
}


</style>
