---
import { Image } from "astro:assets";
import BaseLayout from "..//layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
import Landing from "../components/Landing.astro";
import prices from "../data/pricing.json";
import CheckMark from "../assets/icons/check.svg";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "../js/utils"
import landingImage from "../assets/images/about-banner.avif" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
    title="Pricing"
    description="Pricing | Digita LLC"
    preloadedImage = {optimizedImage}
>

    <Landing 
        title="About Us"
        image={optimizedImage}
    />

    <section id="pricing">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Pricing</span>
                <h2 class="cs-title">Pricing Packages for every budget</h2>
            </div>
            <ul class="cs-card-group">
                {
                prices.map((price: any) => (
                    <li class={`cs-item ${price.popular && "cs-popular"}`}>
                        <h3 class="cs-h3">{price.title}</h3>
                        <p class="cs-item-text"></p>
                        <div class="cs-option-group">
                            <span class="cs-price">
                                {price.price}
                                <span class="cs-small">{price.subprice}</span>
                            </span>
                        </div>
                    <span class="cs-included">Package Includes</span>
                        <ul class="cs-ul">
                            {
                                price.included.map((included: any) => (
                                    <li class="cs-li">
                                        <Image class={`cs-li-img ${!included.checkmarked && "cs-disabled"}`} src={CheckMark} alt="icon" width="20" height="20"/> 
                                        {included.title}
                                    </li>
                                ))
                            }
                        </ul>
                    <a href="/contact" class="cs-button-solid">Get Started</a>
                    </li>
                ))
                }
            </ul>
        </div>
    </section>
    <CTA />
</BaseLayout>

<style>/* Mobile */
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #pricing {
        padding: var(--sectionPadding);
    }
    #pricing .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #pricing .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #pricing .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #pricing .cs-item {
        list-style: none;
        /* 20px - 32px top & bottom */
        /* 16px - 32px left & right */
        padding: clamp(1.25rem, 3vw, 2rem) clamp(1rem, 2.4vw, 2rem);
        width: 100%;
        max-width: 25.8125rem;
        border-radius: 1rem;
        background: #fff;
        border: 1px solid #e8e8e8;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }
    #pricing .cs-item:nth-of-type(2) .cs-option2-text,
    #pricing .cs-item:nth-of-type(2) .cs-option1-text {
        transition-delay: 0.1s;
    }
    #pricing .cs-item:nth-of-type(3) .cs-option2-text,
    #pricing .cs-item:nth-of-type(3) .cs-option1-text {
        transition-delay: 0.2s;
    }
    #pricing .cs-popular {
        background: var(--primary);
        position: relative;
        /* clips the popular tag */
        overflow: hidden;
        /* send to the top */
        order: -1;
    }
    #pricing .cs-popular:before {
        /* Most Popular Tag */
        content: "Popular";
        font-size: 0.875rem;
        text-align: center;
        line-height: 1.8125em;
        font-weight: 700;
        width: 10.625rem;
        padding: 0 0.75rem;
        color: var(--bodyTextColorWhite);
        background-color: var(--secondary);
        position: absolute;
        display: block;
        top: 1.25rem;
        right: -3.75rem;
        transform: rotate(42deg);
    }
    #pricing .cs-popular .cs-h3,
    #pricing .cs-popular .cs-item-text,
    #pricing .cs-popular .cs-price,
    #pricing .cs-popular .cs-included,
    #pricing .cs-popular .cs-li,
    #pricing .cs-popular .cs-small {
        color: var(--bodyTextColorWhite);
    }
    #pricing .cs-popular .cs-button-solid {
        background-color: #fff;
        color: var(--primary);
        transition: color 0.3s;
    }
    #pricing .cs-popular .cs-button-solid:before {
        background-color: var(--secondary);
    }
    #pricing .cs-popular .cs-button-solid:hover {
        color: #fff;
    }
    #pricing .cs-popular .cs-li-img {
        /* turns the check mark white */
        filter: brightness(900%);
    }
    #pricing .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.25rem;
        padding: 0;
        color: var(--headerColor);
    }
    #pricing .cs-item-text {
        font-size: 0.875rem;
        line-height: 1.5em;
        /* 16px - 24px */
        margin: 0 0 clamp(1rem, 2vw, 1.5rem);
        padding: 0;
        color: var(--bodyTextColor);
    }
    #pricing .cs-option-group {
        position: relative;
    }
    #pricing .cs-option-group:after {
        /* top right box */
        content: "";
        width: 100%;
        height: 1px;
        /* 32px - 40px */
        margin-bottom: clamp(2rem, 4vw, 2.5rem);
        background: linear-gradient(
            90deg,
            rgba(232, 232, 232, 0.2) 0%,
            #e8e8e8 53.78%,
            rgba(232, 232, 232, 0.2) 100%
            );
        opacity: 1;
        position: relative;
        display: block;
    }
    #pricing .cs-price {
        font-size: 3.0625rem;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: var(--headerColor);
        /* spans are inline, need to add block for margin to work */
        display: block;
    }
    #pricing .cs-small {
        font-size: 0.875rem;
        font-weight: 400;
        color: #4e4b66;
    }
    #pricing .cs-included {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        /* 16px - 24px */
        margin-bottom: clamp(1rem, 3vw, 1.5rem);
        color: var(--headerColor);
        display: block;
    }
    #pricing .cs-ul {
        padding: 0;
        margin: 0;
        /* 32px - 40px */
        margin-bottom: clamp(2rem, 4vw, 2.5rem);
    }
    #pricing .cs-li {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        list-style: none;
        padding: 0;
        margin: 0 0 0.75rem;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #pricing .cs-li:last-of-type {
        margin-bottom: 0;
    }
    #pricing .cs-disabled {
        /* fades out list items that are disabled from the price tier */
        filter: grayscale(1);
        opacity: 0.3;
    }
    #pricing .cs-li-img {
        width: 1.25rem;
        height: auto;
        margin-top: 0.1875rem;
        margin-right: 0.5rem;
    }
    #pricing .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #pricing .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #pricing .cs-button-solid:hover:before {
        width: 100%;
    }
    #pricing .cs-button-solid {
        /* cs-button-solid override */
        width: 100%;
        margin: 0 0 1rem 0;
    }
}
/* Tablet 768px */
@media only screen and (min-width: 48rem) {
    #pricing .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    #pricing .cs-item {
        width: 100%;
        /* ensures they stay the same height if you add more content */
        align-self: stretch;
    }
    #pricing .cs-popular {
        /* send back to its original order */
        order: unset;
    }
    #pricing #cs-option2-357:before {
        top: -0.625rem;
    }
    #pricing #cs-option2-357:after {
        top: -2.1875rem;
        right: -6.25rem;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #pricing {
        background-color: var(--dark);
    }
    body.dark-mode #pricing .cs-topper {
        color: var(--primaryLight);
    }
    body.dark-mode #pricing .cs-title,
    body.dark-mode #pricing .cs-text {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #pricing .cs-plan {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #pricing .cs-item {
        background: var(--accent);
        border-color: var(--medium);
    }
    body.dark-mode #pricing .cs-popular {
        background: var(--primary);
    }
    body.dark-mode #pricing .cs-h3,
    body.dark-mode #pricing .cs-item-text,
    body.dark-mode #pricing .cs-price,
    body.dark-mode #pricing .cs-included,
    body.dark-mode #pricing .cs-li,
    body.dark-mode #pricing .cs-small {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #pricing .cs-li-img {
        /* make so bright it turns white */
        filter: brightness(900%) grayscale(1);
    }
}
</style>
